.btn-social {
    border: 1px solid lightgrey;
}

.btn-social:hover {
    box-shadow: 0px 0px 0px rgba(97, 27, 248, 0.673) inset, 0px 0px 1px 3px rgba(97, 27, 248, 0.427);
    border-color: rgba(97, 27, 248, 0.427);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}